.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background: #fafafa;
	max-height: 20vh;
	position: fixed;
	width: 100%;
}

.header-profile {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-left: 10px;
}

.header-menu {
	text-align: center;
	background: #fafafa;
}

.header-profile-title {
	color: #484D6D;
	padding-left: 10px;
	font-size: 2rem;
	text-align: center;
	font-weight: bold;
}

.header-profile-image {
	max-width: 15vw;
	max-height: 15vh;
	padding: 10px;
}

.menu-item {
	display: inline;
	padding: 10px;
	color: #484D6D;
	text-decoration: none;
	font-weight: bold;
}

.main {
	padding-top: 10vh;
	color: #fafafa;	
}

.main-description {
	color: #fafafa;
	background: #333;
	text-align: center;
	padding: 2em;
	align-items: stretch;
}

.about {
	min-height: 40vh;
	padding: 20px;
	display: flex;
	align-items: center;
	color: #484D6D;
	background: #fafafa;	
}

.about-image {
	width: 15vw;
	height: 25vh;
	border-radius: 100%;
}

.about-content {
	padding: 10px;
}

.about-title {
	font-weight: bold;
	font-size: 2rem;
}

.about-description {
	padding-top: 10px;
	font-size: 1.5rem;
}

.experiencie {
	background: #484D6D;
	color: #fafafa;
	padding: 20px;
}

.experiencie-title {
	font-weight: bold;
	font-size: 2rem;
}

.experiencie-locate {
	font-size: 1.5rem;
	font-weight: bold;
	padding-bottom: 10px;
}

.experiencie-item {
	margin-top: 50px;
}

.experiencie-description {
	padding-top: 10px;
	font-size: 1rem;
}

.projects {
	padding: 20px;
	background: #fafafa;
	color: #484D6D;
	min-height: 40vh;
}

.projects-title {
	font-size: 2rem;
}

.newletter {
	padding: 20px;
	background: #fafafa;
	color: #484D6D;
	min-height: 40vh;
}

.newletter-title {
	font-size: 2rem;
}

.newletter-description {	
	padding-top: 10px;
	padding-bottom: 20px;
	font-size: 1rem;
}

.revue-form-field {
	background: #fafafa;
	color: #484D6D;
	min-height: 5vh;
	border-radius: 4px;
	border: solid 1px #333;
	margin-top: 5px;
	padding-left: 5px;
	min-width: 50%;
}

.revue-form-group {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

.revue-form-actions {
	display: flex;
	justify-content: center;
}

.revue-form-actions input {
	margin-top: 10px;
	padding: 10px;
	background: #484D6D;
	border: none;
	border-radius: 4px;
	color: #fafafa;
}

.footer {
	background: #484D6D;
	color: #fafafa;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.articles {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	text-align: center;
	width: 100%;
}

.articles-items {
	width: 250px;
	margin: 2em;
}

.projects-item-image {
	width: 100%;
}

@media screen and (max-width: 600px) {
	.header {
		max-height: 25vh;
	}

	.header-profile-title {
		display: none;
	}

	.header-profile-image {
		max-width: 18vw;
		max-height: 18vh;
	}
	
	.main {
		padding-top: 15vh;
	}
}