.main-description {
	color: #fff;
	background: #333;
	text-align: center;
	padding: 2em;
	align-items: stretch;
}

.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background: #38383e;
	padding-left: 10px;
	padding-right: 10px;
	max-height: 15vh;
}

.header-profile {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.header-menu {
	text-align: center;
	background: #38383e;
}

@media screen and (max-width: 600px) {
	.header-profile-title {
		display: none;
	}

	.header-profile-image {
		max-width: 8vw;
		max-height: 10vh;
		margin-right: 10px;
		opacity: .5;
	}
}

.header-profile-title {
	color: #fff;
	font-size: 1.5em;
	text-align: center;
	font-weight: bold;
}

.header-profile-image {
	max-width: 10vw;
	max-height: 15vh;
	margin-right: 10px;
	opacity: .5;
}

.menu-item > a{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

.menu-item {
	display: inline;
	padding: 10px;
}

.about {
	min-height: 40vh;
	margin: 20px;
	display: flex;
	align-items: center;
}

.about-image {
	width: 15vw;
	height: 25vh;
	border-radius: 100%;
}

.about-content {
	padding: 10px;
}

.about-title {
	font-weight: bold;
	font-size: 2rem;
}

.about-description {
	margin-top: 10px;
	font-size: 1.5rem;
}

.experiencie {
	background: #38383e;
	color: #FFF;
	padding: 20px;
}

.experiencie-title {
	font-weight: bold;
	font-size: 2rem;
}

.experiencie-locate {
	font-size: 1.5rem;
	font-weight: bold;
	padding-bottom: 10px;
}

.experiencie-item {
	margin-top: 50px;
}

.experiencie-description {
	padding-top: 10px;
	font-size: 1rem;
}

.footer {
	background: #333;
	color: #fff;
	text-align: center;
}

.articles {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	text-align: center;
	width: 100%;
}

.articles-items {
	width: 250px;
	margin: 2em;
}
