.main-description {
	color: #fff;
	background: #333;
	text-align: center;
	padding: 2em;
	align-items: stretch;
	font-size: 18px;
}

.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background: #38383e;
	padding-left: 10px;
	padding-right: 10px;
	height: 15vh;
}

.header-profile {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.header-menu {
	text-align: center;
	background: #38383e;
}

@media screen and (min-width: 450px) {
	/* .header-profile {
		width: 25%;
	}
	.header-menu {
		width: 75%;
	} */
}

.menu-item > a{
	color: #fff;
	text-decoration: none;
}

.menu-item {
	display: inline;
	padding: 2em;
}



.header-profile-title {
	color: #fff;
	font-size: 1.5em;
	text-align: center;
}

.header-profile-image {
	max-width: 10vw;
	max-height: 15vh;
	margin-right: 10px;
	opacity: .5;
}

.footer {
	background: #333;
	color: #fff;
	text-align: center;
}

.articles {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	text-align: center;
	width: 100%;
}

.articles-items {
	width: 250px;
	margin: 2em;
}
